{% extends 'admin.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Messages</h4> </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a href="{{ path('adminMessageCreate') }}" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Create</a>
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Table</a></li>
                    <li class="active">Data Table</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title m-b-0">Create message</h3>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12">Text area</label>
                                <div class="col-md-12">
                                    <textarea name="test" id="text-message" cols="30" rows="10"></textarea>
                                    <my-editor v-model = "fillItem.description"></my-editor>

                                </div>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

