{% extends 'admin.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Messages</h4> </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <a href="{{ path('adminMessageCreate') }}" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Create</a>
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Table</a></li>
                    <li class="active">Data Table</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Сообщения</h3>
                   
                    <div class="table-responsive">
                        <data-table></data-table>


                        <table id="message-table" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Telegram Id</th>
                                <th>Тема</th>
                                <th>Краткое</th>
                                <th>Переходы</th>
                                <th>Like</th>
                                <th>Dislike</th>
                                <th>Статус</th>
                                <th>Дата апдейта</th>
                                <th>Дата Отправки</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
