<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-menu hidden-xs"></i><i class="ti-close visible-xs"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
        <ul class="nav" id="side-menu">
            <li> <a href="#" class="waves-effect"><i class="mdi mdi-emoticon fa-fw"></i> <span class="hide-menu">Полеты<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="fontawesome.html"><i class="fa-fw">F</i><span class="hide-menu">Туда-Обратно</span></a> </li>
                    <li> <a href="fontawesome.html"><i class="fa-fw">F</i><span class="hide-menu">Сложный</span></a> </li>
                </ul>
            </li>
            <li> <a href="#" class="waves-effect"><i class="mdi mdi-emoticon fa-fw"></i> <span class="hide-menu">Сообщения<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="{{ path('adminMessageIndex') }}"><i class="fa-fw">F</i><span class="hide-menu">Подготовленые</span></a> </li>
                    <li> <a href="fontawesome.html"><i class="fa-fw">F</i><span class="hide-menu">Архив</span></a> </li>
                </ul>
            </li>
            <li> <a href="#" class="waves-effect"><i class="mdi mdi-emoticon fa-fw"></i> <span class="hide-menu">Articles<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="{{ path('adminMessageIndex') }}"><i class="fa-fw">F</i><span class="hide-menu">Draft</span></a> </li>
                    <li> <a href="fontawesome.html"><i class="fa-fw">F</i><span class="hide-menu">Archive</span></a> </li>
                </ul>
            </li>

            <li> <a href="#" class="waves-effect"><i class="mdi mdi-emoticon fa-fw"></i> <span class="hide-menu">Справочники<span class="fa arrow"></span></span></a>
                <ul class="nav nav-second-level">
                    <li> <a href="fontawesome.html"><i class="fa-fw">F</i><span class="hide-menu">Страны</span></a></li>
                    <li> <a href="fontawesome.html"><i class="fa-fw">F</i><span class="hide-menu">Авиакомпании</span></a></li>
                    <li> <a href="fontawesome.html"><i class="fa-fw">F</i><span class="hide-menu">Аеропорты</span></a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>