.small {
    color: #9fa9b9;
    font-size: 10pt;
}
.item {
    padding: 0;
    margin-bottom: 20px;
    display: -webkit-box;
    border-radius: 3px;
}
.hover, .hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.hover, .hover h2 {
    text-align: center
}

.ehover11 .overlay::before {
    content: ''
}

.modal-body p, pre {
    text-transform: none;
    letter-spacing: 0
}

.hover button.info, .hover h2 {
    text-transform: uppercase;
    color: #fff
}

.hover {
    float: left;
    position: relative;
    cursor: default;
}

.hover .overlay {
    position: absolute;
    top: 0;
    left: 0
}

.hover img {
    display: block;
    position: relative;
    opacity: 0.8;
}

.hover button.info {
    display: inline-block
}

.hover h2 {
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, .6)
}

.hover button.info {
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0;
    border-radius: 0;
    background-color: transparent
}

.hover button.info:hover {
    box-shadow: 0 0 5px #fff
}

.ehover11 .overlay::before {
    content: ''
}

.hover h2 {
    position: relative;
    font-size: 24px;
    font-weight: 800;
    padding: 10px;
    background: rgba(0, 0, 0, .6)

}

.hover button.info {
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0;
    border-radius: 0;
    background-color: transparent
}

.hover button.info:hover {
    box-shadow: 0 0 5px #fff
}
.ehover11 {
    background: -webkit-linear-gradient(45deg, #ff89e9 0, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0, #05abe0 100%)
}

.ehover11 img {
    max-width: none;
    width: calc(100% + 60px);
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0)
}

.ehover11 .overlay::before {
    position: absolute;
    top: 15px;
    right: -124px;
    bottom: -65px;
    left: 31px;
    border: 1px solid #fff;
    opacity: 0;
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0)
}

.ehover11 .overlay {
    padding: 3em;
    text-align: left
}

.ehover11 h2 {
    background-color: transparent;
    padding: 15% 0 10px;
    text-align: left
}

.ehover11 button.info {
    color: #FFF;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-transition: opacity .35s, -webkit-transform .45s;
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
}

.ehover11:hover img {
    opacity: .6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover11:hover .overlay::before, .ehover11:hover button.info {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.detail-filter-wrap {
    padding-top: 44px;
}
.filter-block {
    padding-top: 60px;
}

.wrapper {
    background-color: #f5f7f9;
}

/*--------TICKETS---------*/
.choose-item {
    background-color: white;
    border-radius: 3px;
    height: 69px;
    border: 1px solid #fff;
    display: flex;
    padding-left: 0;
    box-shadow: 0 2px 4px 0 rgba(23,27,30,.1);
}
.choose-item li:hover {
    box-shadow: 0 4px 12px 0 rgba(23,27,30,.3);
    cursor: pointer;
}
.choose-item li {
    display: inline-block;
    border-right: 1px solid #fff;
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 20px;
    padding-top: 7px;
}
.choose-item li.active {
    border-bottom: 2px solid rgb(249, 151, 30);
}
.ticket {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(23,27,30,.1);
    height: 148px;
}
.ticket:hover {
    box-shadow: 0 4px 12px 0 rgba(23,27,30,.3);
}
.ticket .main-info {
    display: flex;
}
.ticket .price {
    width: 80px;
    padding-left: 20px;
    padding-top: 40px;
}
.ticket .airlines {
    width: 140px;
}
.ticket .duration {
    width: 255px;
    padding-left: 18px;
}
/*--------TICKETS---------*/