.hover, .hover .overlay {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.hover, .hover h2 {
    text-align: center
}

.ehover11 .overlay::before, .ehover12 h2::after, .ehover7 .overlay::before {
    content: ''
}

body {
    font-family: colaborate-thinregular, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-image: url(../images/back3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF
}

.modal-body p, pre {
    text-transform: none;
    letter-spacing: 0
}

h1 {
    font-size: 50px
}

.titlep {
    letter-spacing: 0;
    padding-bottom: 60px;
    font-size: 18px
}

.breath {
    padding-top: 80px
}

.topinfo {
    position: absolute;
    bottom: 1px;
    left: 96px
}

.page-header {
    display: inline-block;
    margin: 40px 0 20px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 12px
}

.modal-content {
    color: #000
}

.modal-body p {
    font-size: 16px
}

.hover button.info, .hover h2 {
    text-transform: uppercase;
    color: #fff
}

.navbar-inverse {
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border-bottom: 1px solid #fff
}

ul.nav.navbar-nav {
    float: right
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #fff
}

.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
    padding: 0
}

.hover {
    float: left;
    position: relative;
    cursor: default
}

.hover .overlay {
    position: absolute;
    top: 0;
    left: 0
}

.hover img {
    display: block;
    position: relative
}

.ehover10 button, .hover button.info {
    display: inline-block
}

.hover h2 {
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, .6)
}

.hover button.info {
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid #fff;
    margin: 50px 0 0;
    border-radius: 0;
    background-color: transparent
}

.hover button.info:hover {
    box-shadow: 0 0 5px #fff
}

.ehover5 button.info:hover, .hover button.nullbutton:hover {
    box-shadow: none
}

.hover button.nullbutton {
    border: none;
    padding: 0;
    margin: 0
}

.ehover4 button.info, .ehover42 button.info {
    margin: -55px 0 0;
    padding: 73px 90px;
    font-weight: 400;
    border: 1px solid #fff
}

.modal-open .modal, button:focus {
    outline: 0 !important
}

.point {
    cursor: pointer
}

.ehover1 img {
    -webkit-transition: all .4s linear;
    transition: all .4s linear
}

.ehover1 .overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover1 h2 {
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover1 button.info {
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover1:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.ehover1:hover .overlay {
    opacity: 1
}

.ehover1:hover button.info, .ehover1:hover h2 {
    opacity: 1;
    -webkit-transform: translatey(0);
    transform: translatey(0)
}

.ehover1:hover button.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.ehover2 img {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

.ehover2 .overlay {
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all .2s .4s ease-in-out;
    transition: all .2s .4s ease-in-out
}

.ehover2 button.info, .ehover9 h2 {
    -webkit-transform: translateY(-200px)
}

.ehover2 button.info {
    transform: translateY(-200px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover2:hover .overlay {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.ehover2:hover h2 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.ehover2:hover button.info, .ehover9:hover h2 {
    -webkit-transform: translateY(0);
    -webkit-transition-delay: .3s
}

.ehover2:hover button.info {
    transform: translateY(0);
    transition-delay: .3s
}

.ehover3 img {
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in
}

.ehover3 button.info, .ehover3 h2 {
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    opacity: 0
}

.ehover4 .overlay, .ehover4 h2 {
    -webkit-transition: all .4s ease-in-out
}

.ehover3:hover img {
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.ehover3:hover button.info, .ehover3:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.ehover4 h2 {
    -webkit-transform: translateY(55px);
    transform: translateY(55px);
    transition: all .4s ease-in-out
}

.ehover4:hover h2 {
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
}

.ehover4 .overlay {
    background-color: rgba(75, 75, 75, .7);
    transition: all .4s ease-in-out
}

.ehover4:hover .overlay {
    background-color: rgba(48, 152, 157, .4)
}

.ehover4 button.info {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover42 .overlay, .ehover42 h2 {
    -webkit-transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover4:hover button.info {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.ehover42 h2 {
    -webkit-transform: translateY(55px);
    transform: translateY(55px);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover42:hover h2 {
    -webkit-transform: translateY(15px);
    transform: translateY(15px)
}

.ehover42 .overlay {
    background-color: rgba(75, 75, 75, .7);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 img, .ehover42 button.info {
    -webkit-transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover42:hover .overlay {
    background-color: rgba(48, 152, 157, .4)
}

.ehover42 button.info {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover42:hover button.info {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.ehover1v2 img {
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 .overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .4s cubic-bezier(.88, -.99, 0, 1.81);
    transition: all .4s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 h2 {
    -webkit-transform: translatey(-100px);
    transform: translatey(-100px);
    opacity: 0;
    -webkit-transition: all .2s cubic-bezier(.88, -.99, 0, 1.81);
    transition: all .2s cubic-bezier(.88, -.99, 0, 1.81)
}

.ehover1v2 button.info {
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.ehover1v2:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.ehover1v2:hover .overlay {
    opacity: 1
}

.ehover1v2:hover button.info, .ehover1v2:hover h2 {
    opacity: 1;
    -webkit-transform: translatey(0);
    transform: translatey(0)
}

.ehover1v2:hover button.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.ehover5 h2, .ehover5 img {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover5 img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.ehover5:hover img {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.ehover5 .overlay {
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.ehover5:hover .overlay {
    background-color: rgba(170, 170, 170, .4)
}

.ehover5 button.info {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-weight: 400;
    border: 1px solid #fff;
    height: 85%;
    width: 85%;
    position: absolute;
    top: -20%;
    left: 8%;
    padding: 70px
}

.ehover6 h2, .ehover6 hr, .group1, .group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity .35s, -webkit-transform .35s
}

.ehover5:hover button.info {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(0, 0, 0, .4)
}

.ehover6 h2, .ehover6 hr, .ehover7 h2, .ehover7 p, .group1, .group2 {
    background-color: transparent;
    margin: 0
}

.ehover6 .rotate {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0
}

.ehover6 hr {
    width: 50%;
    opacity: 0
}

.ehover6 hr:nth-child(2) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate(0) scale3d(0, 0, 1)
}

.ehover6 hr:nth-child(3) {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate(90deg) scale3d(0, 0, 1)
}

.ehover6 h2, .ehover6 hr {
    top: 50%;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%
}

.group1, .group2 {
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    padding: 0;
    letter-spacing: 0
}

.group1 {
    top: 40%
}

.group2 {
    top: 60%
}


.group1 a:first-child i {
    -webkit-transform: translate3d(-60px, -60px, 0) rotate(45deg) scale(2);
    transform: translate3d(-60px, -60px, 0) rotate(45deg) scale(2)
}

.group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, -60px, 0) rotate(45deg) scale(2);
    transform: translate3d(60px, -60px, 0) rotate(45deg) scale(2)
}

.group2 a:first-child i {
    -webkit-transform: translate3d(-60px, 60px, 0) rotate(45deg) scale(2);
    transform: translate3d(-60px, 60px, 0) rotate(45deg) scale(2)
}

.group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px, 60px, 0) rotate(45deg) scale(2);
    transform: translate3d(60px, 60px, 0) rotate(45deg) scale(2)
}

.ehover11 {
    background: -webkit-linear-gradient(45deg, #ff89e9 0, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0, #05abe0 100%)
}

.ehover11 img {
    max-width: none;
    width: calc(100% + 60px);
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0)
}

.ehover11 .overlay::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    opacity: 0;
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0)
}

.ehover11 .overlay {
    padding: 3em;
    text-align: left
}

.ehover11 h2 {
    background-color: transparent;
    padding: 15% 0 10px;
    text-align: left
}

.ehover11 button.info {
    color: #FFF;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-transition: opacity .35s, -webkit-transform .45s;
    transition: opacity .35s, transform .45s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
}

.ehover11:hover img {
    opacity: .6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.ehover11:hover .overlay::before, .ehover11:hover button.info {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
