html, body {
    background: #edf1f5;
    font-weight: 400;
}
body.stop-scrolling {
    overflow: hidden !important;
}
.panel {
    margin-bottom: 15px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.panel.noshadow {
    margin-bottom: 0;
    box-shadow: none;
}

.no-shadow{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.small-title{
    font-weight: 500;
    margin-bottom: 5px;

}

.panel-wrapper.in.collapse.in {
    font-size: 13px !important;
}
#side-menu ul > li > a.active {
    font-weight: 400 !important;
}
.new-login-register {
    position: static;
    height: 100%;
}
.new-login-register .lg-info-panel {
    top: 0;
    background: url('/public/images/bg.jpg') no-repeat center center / cover !important
}

.new-login__wrapper{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.new-login__title{
    margin-bottom: 15px;
}

.new-login__social a{
    margin-right: 10px;
}

.new-login__social{
    display: flex;
}

.new-login__item{
    width: 50%;
}

@media only screen and (max-width: 576px){
    .new-login__wrapper{
        flex-direction: column;
    }
    .new-login__item{
        width: 100%;
        margin-bottom: 15px;
    }
}

.error-summary {
    color: #a94442;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
}
.error-summary-no-header > p {
    display: none;
}
.error-summary-no-header > ul {
    padding-left: 15px;
}
.new-login-box .error-summary {
    font-size: 12px;
}
.form-horizontal .form-group {
    margin-bottom: 15px;
}
.form-group .help-block {
    margin-bottom: 0;
    font-size: 12px;
}
.new-login-register .new-login-box .new-lg-form label {
    font-size: 11px;
    /*text-transform: none;*/
}
input:-webkit-autofill{
    box-shadow:inset 0 0 0 1000px #fff;
}

small ol {
    margin-top: 10px;
    padding-left: 15px;
}
small ol li {
    margin-bottom: 10px;
}
.bs-none {
    box-shadow: none;
}
.btn-sm {
    opacity: 1;
    transition: unset;
}
.btn-sml {
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-left: 0 !important;
    width: 39px;
    padding: 8px 12px;
}
.btn-outline {
    transition: all 0.2s;
}
.m-h-80 {
    min-height: 80px;
}
.w-c-m60 {
    width: calc(100% - 60px);
}
.m-l-0 {
    margin-left: 0 !important;
}
.m-t-m10 {
    margin-top: -10px !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.p-t-5 {
    padding-top: 5px !important;
}
.p-15 {
    padding: 15px;
}
.p-25 {
    padding: 25px;
}
.p-l-15 {
    padding-left: 15px !important;
}
.r-40 {
    right: 40px !important;
}
.js_loader {
    display: none;
}
.w100p {
    width: 100% !important;
}
.w500 {
    width: 500px;
}
.w150 {
    width: 150px;
}
.w180 {
    width: 180px;
}
.fw400 {
    font-weight: 400;
}
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.b-rad-3 {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.display-table-cell {
    display: table-cell;
}

img.thumbs_list {
    background: #F9F9F9;
    border: 1px solid #EDEDED;
    object-fit: contain;
}

.grid-view th {
    text-transform: uppercase;
}
.grid-view th a {
    color: #666666 !important;
}
.grid-view input,
.grid-view select,
input.form-control,
select.form-control,
textarea.form-control {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0;
}
textarea.form-control {
    width: 100% !important;
}
.form-control:focus {
    border-color: #adadad;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #F6F6F6;
}
.grid-view .filters {
    background-color: #f7fafc;
}
.manage-u-table .filters select {
    max-width: inherit;
}
.table-thead-header thead tr {
    background: #f8f8f8;
    border-top: 1px solid #e4e7ea;
}
.table-last-tr-bordered tr:last-child td {
    border-bottom: 1px solid #e4e7ea;
}
.table-mini.table > tbody > tr > td, .table-mini.table > tbody > tr > th, .table-mini.table > tfoot > tr > td, .table-mini.table > tfoot > tr > th, .table-mini.table > thead > tr > td, .table-mini.table > thead > tr > th {
    padding: 10px 8px;
}
.pagination {
    margin: 10px 0 20px;
    padding: 0 20px;
}
.pagination > li > a, .pagination > li > span {
    color: #666666;
    border: 0;
    margin-left: 2px;
    padding: 6px 13px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #1e88e5;
    border-color: #1e88e5;
}
form div.required label:after {
    content:" * ";
    color:red;
}
.cart {
    /*width: 140px;*/
}
.cart-control {

}
.cart-control .bootstrap-touchspin {
    width: 100px;
}
.cart-control input {
    display: block;
    padding: 5px;
    text-align: center;
    height: 30px;
}
.cart-control .input-group-btn .btn {
    padding: 4px 10px;
    margin: 0;
    width: 30px;
}
.nav-tabs.wide-links a {
    padding-left: 25px;
    padding-right: 25px;
}
.panel.search {
    margin-bottom: 1px;
    position: relative;
}
.panel.with-search-and-add {
    position: relative;
    z-index: 0;
}
.panel.search-and-add {
    margin-top: -14px;
    position: relative;
    background: #f7fafc;
    z-index: 1;
}
.panel.checkout-summary {
    padding: 20px;
    margin-top: -14px;
    z-index: 0;
    position: relative;

}
.order-footer {
    background: #fcfcfc;
    margin-top: -10px !important;
}
.checkout-summary .checkout-summary-info {
    font-size: 12px;
    font-weight: 400;
    padding-top: 4px;
}
.checkout-summary .checkout-summary-sum {
    font-size: 16px;
    font-weight: 400;
    color: #666;
}
.panel .panel-default-search {
    /*border-bottom: 1px solid rgba(120, 130, 140, 0.13);*/
    padding: 15px;
    font-weight: 300;
}
.panel .panel-default-search .container {
    width: calc(100% - 90px);
    padding: 0;
}
.panel-contacts {
    padding: 15px 15px 5px;
}
.white-box-buttons-panel {
    position: absolute;
    right: 35px;
    top: 20px;
    z-index: 10;
}
.white-box-buttons-panel .btn-sm {
    min-width: 35px;
    padding: 10px 10px 11px;
}
.white-box-buttons-panel .btn-sm.fa.fa-close {
    font-size: 13px;
    padding-bottom: 10px;
}

.treeview .list-group-item {
    border-left: 0;
    border-right: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.panel .panel-heading a i {
    font-size: inherit;
    margin-left: inherit;
}
.btn-cart .label {
    margin-left: 4px;
    margin-right: -4px;
}
.right-sidebar {
    /*display: block !important;*/
    /*right: 0 !important;*/
}
.right-sidebar .r-panel-body {
    padding: 0;
    position: absolute;
    top: 60px;
    bottom: 117px;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.right-sidebar .rpanel-title {
    background: #4c5667 !important;
    padding: 19px 21px 17px;
    font-size: 17px;
}
.right-sidebar .rpanel-title span {
    font-size: 17px;
}
.right-sidebar .rpanel-title span:hover {
    color: #ddd;
}

blockquote.inform {
    border-left: 3px solid #2cabe3 !important;
    border: 1px solid rgba(120, 130, 140, 0.13);
    padding: 12px 13px;
    margin: 0;
    font-size: 14px;
}
blockquote.inform strong {
    font-weight: 500;
}

.cart-body {

}
.cart-summary {
    background: rgba(0, 0, 0, 0.07);
    bottom: 0;
    position: absolute;
    width: 100%;
}
.cart-summary .cart-summary-info {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    padding: 10px 10px 0px;
}
.cart-summary .cart-summary-sum {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    padding: 5px 10px;
}

.cart-list {

}
.cart-list li {
    padding: 5px 10px !important;
    border-right: 0;
    border-left: 0;
}
.cart-list li.cart_item_added {
    background: #dff0d8;
}
.cart-list li:hover {
    background-color: #f7fafc;
}
.cart-control .btn {
    transition: unset;
}
.cart-list .cart-control .btn {
    opacity: 0;
}
.cart-list li:hover .cart-control .btn {
    opacity: 0.8;
}
.cart-list .item-price {
    margin-top: -2px;
}
.catalog-tile {
    margin-top: 15px;
}
.catalog-item {
    margin-top: 10px;
}
.catalog-item .photo {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.catalog-item .photo img {
    background: #F9F9F9;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    width: 100%;
}
.catalog-item .code {
    position: relative;
    margin-top: -24px;
}
.catalog-item .code span {
    background: rgba(228, 231, 234, 0.8);
    padding: 5px 10px 4px;
    font-size: 13px;
    font-weight: 400;

    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: normal;
}
.catalog-item .name {
    font-size: 13px;
    padding: 0 10px 0;
    height: 55px;
    overflow: hidden;
}
.catalog-item .price {
    padding: 10px;
}
.catalog-item .control {
    padding: 0 0 20px;
}
.catalog-item .control .cart-control  {
    margin: 0 auto;
    width: 140px;
}
.catalog-item .pagination {
    margin: 15px 0 10px;
}
.cart-control .amount-available {
    clear: both;
    padding-top: 7px;
    font-size: 12px;
    color: #f44336;
    text-align: center;
    width: 100px;
}

.bootstrap-select {
    width: 100% !important;
}
.btn-group .dropdown-toggle {
    border-radius: 0;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}
.btn-group.open .dropdown-menu.open {
    padding: 0;
}
.delivery-info-block {
    margin: 10px 0 10px 25px;
}
.delivery-info-block .form-group label {
    font-size: 12px;
}
.well.inform {
    margin: 5px 0 0;
    padding: 8px;
    box-shadow: none;
    font-size: 13px;
}
.typeahead__display strong {
    font-weight: 500;
}

.order-view {
    padding: 0 !important;
}
.order-view .order-header {
    padding: 25px;
}
.order-view dt {
    font-weight: 500;
    color: #8d9ea7;
    font-size: 12px;
}
.order-view dd {
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
}

.list-with-brl-0 .list-group-item {
    border-right: 0;
    border-left: 0;
}
.list-group-item-heading {
    font-size: 15px;
}

.myadmin-dd li.not-active .dd-handle {
    background: #fafafa !important;
    color: #aaa;
}
.myadmin-dd li.not-active .dd-handle:hover {
    color: #aaa !important;
}
.myadmin-dd li:hover > .dd-handle {
    background: #edf6ff !important;
}
@media (max-width: 767px) {
    .header-btn {
        position: absolute;
        top: -40px;
        right: 0;
    }
}
@media (max-width: 480px) {
    .header-btn .btn .title {
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 1550px) {
    .catalog-item.col-lg-2 {
        width: 25%;
    }
}


/*========  group-column-2 - two columns on checkbox and full size label =============================*/

.group-column-2 label{
    display: block;
    width: 100%;
}
.group-column-2 .checkbox{
    display: inline-block;
    width: 48%;
    padding-right: 10px;
}

/*===================hide-large-screen====================*/

.hide-large-screen{
    display: none;
}
@media (max-width: 1281px) {
    .hide-large-screen{
        display: block;
    }
}

/*========================= cart-wrapper  ======================*/


.cart-goods .cart-image {
    display: inline-block;
    /*width: 49%;*/
    /*float: left;*/
    margin-bottom: 20px;
}

.cart-goods .cart-control {

}

.cart-image-big {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 2px;
}

.cart-image-big .bage__default{
    top: 10px;
    right: 10px;
    font-size: 14px;
    height: 22px;
    width: 49px;
    line-height: 1.7;
}

.cart-image-big img {
    background: #F9F9F9;
    border: 1px solid #EDEDED;
    height: 100%;
    top: 0;
    object-fit: contain;
    width: 100%;
    position: absolute;
}

.cart-image-small-item {
    width: 33%;
    float: left;
    margin-right: 0.5%;
    margin-bottom: 2px;
}
.cart-image-small-item:nth-child(3n) {
    margin-right: 0;
}
.cart-image-small-item div {
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.cart-image-small-item div img {
    background: #F9F9F9;
    border: 1px solid #EDEDED;
    cursor: pointer;
    height: 100%;
    top: 0;
    object-fit: contain;
    width: 100%;
    position: absolute;
}

.dl-good-details {
    margin-top: 20px;
    margin-bottom: 20px;
}
.dl-good-details dt {
    float: left;
    width: 130px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    font-weight: inherit;
    white-space: nowrap;
}
.dl-good-details dd {
    margin-left: 150px;
    font-weight: 500;
    margin-bottom: 10px;
}

/*@media (max-width: 1281px){*/
    /*.cart-goods .cart-image{*/
        /*display: none;*/
    /*}*/
    /*.cart-goods .cart-control{*/
        /*padding-left: 0;*/
        /*margin-top: 10px;*/
        /*margin-bottom: 25px;*/
    /*}*/
/*}*/

/* bage label */

.bage__default{
    font-size: 9px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    width: 29px;
    height: 14px;
    text-align: center;
    border-radius: 0;
    position: absolute;
    right: 9px;
    top: calc(100% - 8px - 13px);
    line-height: 1.6;
    letter-spacing: 0.4px;
}

@media (max-width: 1199px) {
    .bage__default{
        right: 0;
        top: 10px;
    }
}

.bage-box{
    position: relative;
}

.bage-box__name .bage__default{
    position: relative;
    right: auto;
    top: -1px;
    display: inline-block;
}

.bage-box__name a{
    margin-right: 7px;
}

.bage__new{
    background-color: #349c06;
}

.bage__sale{
    background-color: #ee3f3c;
}

.bage__action{
    background-color: #ff8b03;
}