<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('build/css/app_admin.css') }}" rel="stylesheet" />
    {% endblock %}
    <script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
</head>
<body class="fix-header">
<!-- Preloader -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
    {% include 'admin/layout/navbar.html.twig' %}
    {% include 'admin/layout/left-sidebar.html.twig' %}
    <div id="page-wrapper">
        {% block body %}
        {% endblock %}
    </div>
</div>

<script type="text/javascript" src="{{ asset('build/js/app_admin.js') }}" defer></script>

{% block javascriptsTempate %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/vue.js') }}"></script>
{% endblock %}
</body>
</html>
