{% extends 'base.html.twig' %}
{% block body %}
    <div id="root"></div>
    <!--============================= DETAIL =============================-->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 responsive-wrap" id="wrapper">
                    {#<div id="search-form"></div>#}
                    {#<div class="row detail-filter-wrap filter-block">#}
                        {#<div class="col-md-12">#}
                            {#<div class="button_line_1">#}
                                {#<button class="btn btn-default btn-sm">Transport</button>#}
                                {#<button class="btn btn-default btn-sm">Stops</button>#}
                                {#<button class="btn btn-default btn-sm">Price</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="row mt-3" id="wrapper">#}
                        {#<div class="col-md-12">#}
                            {#<h6>Top destinations for travellers</h6>#}
                        {#</div>#}
                        {#{% for airport in airports %}#}
                            {#<div class="col-sm-4 col-lg-4 col-xl-4">#}
                                {#<div class="item">#}
                                    {#<div class="hover ehover11">#}
                                        {#<img class="img-responsive" src="https://images.kiwi.com/photos/385x320/{{ airport.getCity().id }}.jpg" alt="">#}
                                        {#<img class="img-responsive" src="{% if !empty(airport.getKiwiAirport()->getName) %}https://images.kiwi.com/photos/385x320/vienna_at.jpg" alt="">#}
                                        {#<div class="overlay">#}
                                            {#<h2>{{ airport.name }}</h2>#}
                                            {#<button class="info nullbutton" data-toggle="modal" data-target="#modal11"> search#}
                                            {#</button>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#{% endfor %}#}
                    {#</div>#}
                </div>
                <div class="col-md-5 responsive-wrap map-wrap">
                    <div class="map-fix">
                        <!-- data-toggle="affix" -->
                        <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->
                        <div id="map" data-lat="40.674" data-lon="-73.945" data-zoom="14"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END DETAIL -->

{% endblock %}