<template>
    <div class="data-table">
        <table class="table">
            <thead>
            <tr>
                <th class="table-head">#</th>
                <th v-for="column in columns" :key="column"
                    class="table-head">
                    {{ column | columnHead }}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="" v-if="tableData.length === 0">
                <td class="lead text-center" :colspan="columns.length + 1">No data found.</td>
            </tr>
            <tr v-for="(data, key1) in tableData" :key="data.id" class="m-datatable__row" v-else>
                <td>{{ serialNumber(key1) }}</td>
                <td v-for="(value, key) in data">{{ value }}</td>
            </tr>
            </tbody>

        </table>
    </div>
</template>

<script type="text/ecmascript-6">
    import DatatableFactory from 'vuejs-datatable';

    export default {
        name: "DataTable",
        comments: { DatatableFactory},
        data: {
            columns: [
                { label: '', field: '', sortable: false },
                { label: 'ID', field: 'id', align: 'center' },
                { label: 'Username', field: 'user.username' },
                { label: 'First Name', field: 'user.first_name' },
                { label: 'Last Name', field: 'user.last_name' },
                { label: 'Email', field: 'user.email', sortable: false },
            ],
            rows: window.rows,
            page: 1,
            per_page: 10,
            expanded: null
        },
        methods: {
            expand: function(id){
                if (this.expanded == id){
                    this.expanded = null;

                    return;
                }

                this.expanded = id;
            }
        }
    }
</script>

<style scoped>

</style>